@charset "UTF-8";
  body{
    background: #ebecef;/*form 뺀 배경색*/
    margin: 0 auto;		/*가운데 정렬*/
  	}
  
  form{
  	background:#fefefe;		/*배경색*/
  	width:582px;			/*박스 세로크기*/
  	height:1100px;
  	margin: 5% auto 15% auto;/**/
  	padding: 34px 30px 0;
    padding-top: 20px;
  }
  
  h1{
  	font-size: 28px;
    font-weight: normal;
    color: #444;
    vertical-align: top;
  }
  
  /*기업정보:주소빼고 다*/
  input[id=ename_co],[id=ownername]
  	,[id=enumber],[id=enum]{
  	border: 1px solid #ccc;
    background: #ffffff;
    width: 572px;
    margin: 5px 0 20px 0;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;/*선이 둥글게 됨*/
    font-size:15px;
  }
	
  input[id=eaddr]{
    border: 1px solid #ccc;
    background: #ffffff;
    width: 491px;
    margin: 5px 0 20px 0;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;/*선이 둥글게 됨*/
    font-size:15px;
  }
  
  /*id중복검색*/
  input[id=eid]{
  	border: 1px solid #ccc;
    background: #ffffff;
    width: 420px;
    margin: 5px 0 20px 0;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;/*선이 둥글게 됨*/
    font-size:15px;
	}
	
	/*인사 담당자 정보:id빼고 나머지 */
  input[id=ename],[id=epw],
	[id=epass],[id=eemail],[id=ephone]{
  	border: 1px solid #ccc;
    background: #ffffff;
    width: 572px;
    margin: 5px 0 20px 0;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;/*선이 둥글게 됨*/
    font-size:15px;
	}
	
	/*id중복검색*/
  #idcheck {
	border: 1px solid #1F89FD;
  	background:#1F89FD;
  	color:#fff;
    width: 25.5%;
    padding: 13px;
  	text-ailgn:center;
  	border-radius: 5px;
  	font-size:14px;
  	}
  
  /*로그인 버튼*/
  input[type=submit]{
  	border: 1px solid #3399ff;
  	background:#3399ff;
  	color:#fff;
  	font-weight: bold;/*글씨 진하게*/
  	width: 50%;
  	margin: 15px 0 20px 0;
  	padding: 12px;
  	border-radius: 3px;
  	font-size:15px;
  	float:left;
  }
  
  /*취소버튼*/
  input[type=reset]{
 	border: 1px solid #ff2105;
  	background:#ff2105;
  	color:#fff;
  	font-weight: bold;/*글씨 진하게*/
  	width: 50%;
  	margin: 15px 0 20px 0;
  	padding: 12px;
  	border-radius: 3px;
  	font-size:15px;
  }
  
  /*이미 회원이세요?*/
  .eulogin p.eulogin_check {
   line-height: 18px;
   font-size: 17px;
   color: #444;
   text-align:center;
  }
  
  	
  	/*로그인 글씨*/
	.eulogin p.eulogin_check a{
  	color:#3399ff;
  	font-weight: bold;
  	text-decoration: none;
  	line-height: 18px;
  	font-size: 17px;
  	padding-left: 18px;
  }
  
  #addrbtn{
    background: #1F89FD;
    color: #fff;
    border: none;
    padding: 14px;
    margin-bottom: 11px;
    border-radius: 6px;
  }