@charset "UTF-8";

body {
	font: 12px "맑은 고딕", Malgun Gothic, "돋움", Dotum, sans-serif;
	color: #666;
	letter-spacing: -1px;
}

.container {
	display: table;
	overflow: hidden;
	position: relative;
	width: 940px;
	height: 182px;
	padding: 5px 0 0 40px;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}