
body{
  margin: 0 auto;
  background: #ebeef3;
}
.head{
	margin: 0 auto;
    width: 900px	
}
.head h2{
	letter-spacing: -1px;	
}
#reclistwrap{
  position: relative;
  width: 100%;
  padding-top: 50px;
}
#reclistcontainer{
    position: relative;
    margin: 0 auto;
    width: 900px;
    padding: 50px;
    background: #fff;
 }
table{
	width : 100%;
	border-collapse: collapse;
	text-align: center;
	letter-spacing: -1px;
}
tr:first-child{
	border: 1px solid #3399ff;
	background-color : #3399ff;
}
th, font{
padding : 14px 0 16px 0;
font-size : 17px;
line-height : 120%;
letter-spacing : -1px;
color : white;
}
td{
	border: 1px solid #666;
	padding: 10px;
}
tr:hover td {
   background: #ebeef3;
}
.td5{
	text-align: center;	
}
.abtn{
	background: #666;
	color: #fff;
	padding: 6px;
	font-weight: bold;
}
#detbtn{
	background: #666;
	color: #fff;
	border: none;
	font-size:15px;
	padding: 8px;
	font-weight: bold;
}
